* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1;
}

body {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: sofia-pro-soft, sans-serif;
    /* font-family: ff-tisa-web-pro, serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Niramit', sans-serif;
    /* font-family: sofia-pro-soft, sans-serif; */
    /* font-family: ff-tisa-web-pro, serif; */
    font-weight: 800;
    /* font-style: normal; */
}

h1 {
    font-size: 3rem;
    /* color: azure; */
    color: white;
    /* color: yellow; */
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-family: arial;
    font-size: 1rem;
}

h4 {
    font-size: 1.2rem;
}

.title {
    padding: 2rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.mobile {
    display: none;
}

/* header and nav */

header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: white;
    /* background-color:#2e3543; */
    /* background-color: yellow; */
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.logo {
    display: flex;
}

.name {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.bold {
    font-weight: 800;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

nav ul {
    justify-content: space-between;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

/* Mobile Header and Nav */

@media only screen and (max-width: 779px) {
    .desktop {
        display: none;
    }

    header .mobile {
        /* display: flex; */
        width: 100%;
        justify-content: space-between;
        /* align-content: center; */
        align-items: center;
    }
}

/* Main Banner Section */

.flex-container {
    /* background-color: #4a4a4a; */
    background-color: rgb(175, 175, 175);
    /* background-color: #2e3543; */
    display: flex;
    align-items: center;
}

.banner {
    margin: 2rem 1.5rem;
    width: 60%;
}

.banner-text {
    margin: 0 auto;
    width: 40%;
    padding: 2rem 1rem;
}

.banner-text p {
    font-size: 1.5rem;
}

.banner-text > * {
    margin-bottom: 1.4rem;
}

.cta-button {
    padding: 0.5rem 0;
    width: 87%;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    background-color: #4a4a4a;
    background-color: yellow;
    color: black;
    font-family: sofia-pro-soft, sans-serif;
}

/* mobile landing section */

@media only screen and (max-width: 779px) {
    .flex-container {
        flex-direction: column;
    }

    .banner {
        width: 100%;
        margin: 0;
    }

    .banner-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem;
        margin: 2rem 0;
    }
    .banner-text > h1,
    h4 {
        margin-left: 0.5rem;
    }

    .cta-button {
        width: 100%;
    }
}

/* information section */

.information {
    display: flex;
}

.information .container {
    flex-direction: column;
}

.content {
    flex-direction: column;
    width: 60%;
    display: flex;
    margin: 2rem 1.5rem;
}

.sub-banner-text {
    padding-top: 2rem;
}

blockquote {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 1rem 1rem;
    color: #808080;
    text-align: justify;
    line-height: 1.5;
    width: 90%;
}

figcaption {
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 0.9em;
    margin-right: 1rem;
}
.side-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 2px #b9b9b9 solid;
    border-right: 2px #b9b9b9 solid;
    /* border-left: 4px yellow solid; */
    /* border-right: 4px yellow solid; */
}

.event {
    border-bottom: 1px #b9b9b9 solid;
    /* border-bottom: 4px yellow solid; */
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-details > h4,
p {
    padding-bottom: 0.5rem;
}

.bgcolor {
    background-color: #e4e3e3;
    /* background-color: yellow; */
    border-bottom: 1px #b9b9b9 solid;
}

.link {
    color: #5f9de4;
    font-size: 0.9em;
}

.thumbnail {
    width: 35%;
    height: auto;
    padding: 1rem;
}

/* mobile infomation section */

@media only screen and (max-width: 779px) {
    .desktop {
        display: none;
    }

    .mobile {
        width: auto;
        display: flex;
    }

    .side-info {
        width: 100%;
    }

    .event {
        flex-direction: column;
    }

    .event-details {
        padding-left: 2rem;
    }

    .link {
        padding-bottom: 32px;
    }

    .event.bgcolor {
        background-color: unset;
        border-bottom: unset;
    }
}

/* learning section */

.learning {
    background-color: #eaebec;
}

.learning h2 {
    text-align: center;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex: 0 0 30.33333%;
}

.course-name {
    font-family: cursive;
    font-weight: bold;
    font-size: 1.7rem;
    color: #6b6b6b;
}

.course-text {
    padding: 1rem;
    background-color: white;
}

.course-text > p:nth-child(2) {
    text-decoration: underline;
    background-color: yellow;
    width: 40%;
    text-indent: 2rem;
}

/* mobile learning section  */

@media only screen and (max-width: 779px) {
    .course-cards {
        flex-direction: column;
    }
    .course-card img {
        display: none;
    }

    .course-card {
        flex-wrap: nowrap;
        margin: 0;
        width: 100%;
    }

    .course-card > * {
        margin: 0 1rem 1rem;
    }

    .course-name {
        width: 100%;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }

    .course-text > p:nth-child(2) {
        display: none;
    }

    .course-text > p:last-child {
        display: none;
    }
}

/* Thesis exhibit */

.thesis {
    display: flex;
}

/* Mobile Thesis Section */
@media only screen and (max-width: 779px) {
    .thesis {
        display: block;
    }

    /* .thesis .content, .thesis .side-info,
    .thesis .sub-banner-text {
        display: none;
    } */

    .thesis .content {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .thesis .sub-banner-text,
    .thesis .side-info {
        display: none;
    }

    .thesis video {
        display: block;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* footer */

footer {
    border-top: 1px solid gray;
    justify-content: space-between;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 4rem;
    /* background-color: #2e3543; */
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}
