* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1;
    color: #4a4a4a;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: p22-underground, sans-serif;

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mobile {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img,
video {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

.title {
    margin: 1rem 0;
    text-align: center;
}

/* desktop
header and navigation */

header {
    top: 0;
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.bold {
    font-weight: 700;
    color: black;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li:hover {
    background-color: yellow;
}

/* mobile 
header and navigation */

@media only screen and (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    header .mobile {
        justify-content: space-between;
        display: flex;
        width: 100%;
        align-items: center;
    }
}

/* desktop
main banner section */

.banner {
    background-color: #d8d8d8;
}

.container {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
}

.content-left {
    width: 60%;
}

.content-right {
    width: 35%;
    margin-left: 1.5rem;
}

.banner .content-right h1 {
    line-height: 0.8;
    width: 80%;
}

.banner .content-right p {
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: 500;
}

.cta-button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 5rem;
    border-radius: 5px;
    display: inline-block;
    border: none;
    background-color: #4a4a4a;
}

.cta-button:hover {
    color: yellow;
    font-weight: 600;
    letter-spacing: 1px;
}

/* mobile
main banner section */

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        padding: 0;
    }

    .content-left,
    .content-right {
        width: 100%;
    }

    .banner .content-right {
        padding: 1rem 2rem;
    }

    .cta-button {
        margin: 1rem 0;
    }

    .button-wrapper {
        text-align: center;
    }
}

/* desktop
information section */

.information .content-left {
    background-color: white;
}

.sub-banner-text > * {
    margin: 1rem;
}

blockquote,
figcaption {
    line-height: 2;
}

figcaption {
    text-align: right;
    font-size: 0.9rem;
}
.content-right {
    flex-direction: column;
    flex: 3 1;
    display: flex;
}

.event {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.event:hover {
    background-color: yellow;
    border: yellow 10px solid;
    outline: yellow 5px solid;
}

.thumbnail {
    align-self: center;
    width: 35%;
    min-width: 120px;
    height: auto;
    padding-right: 1rem;
}

.event-details {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    justify-content: center;
    width: 65%;
}

.event-details p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.link {
    color: #0067dc;
}

.link:hover {
    font-weight: 700;
    letter-spacing: 1px;
}

/* mobile
information section */

@media only screen and (max-width: 700px) {
    .information {
        border-bottom: solid 1px lightgray;
    }
    .information .content-left {
        display: none;
    }

    .thumbnail {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .content-right {
        padding: 0;
        margin: 0;
    }

    .event {
        flex-direction: column;
    }

    .event-details {
        padding: 1rem 2rem;
    }

    .event:hover {
        background: unset;
        border: unset;
        outline: unset;
    }
}

/* desktop
learning section */

.learning {
    background-color: #eaebec;
    padding: 2rem 0;
}

.course-cards {
    padding: 0 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex: 0 0 30.33333%;
    height: auto;
    min-width: 278px;
}

.course-name {
    font-weight: 700;
    font-size: 1.6rem;
}

.course-text {
    height: auto;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: white;
    font-family: p22-underground, sans-serif;
}

.course-text p:nth-child(2) {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-family: p22-underground-pc, sans-serif;
}

.course-text p:nth-child(3) {
    font-size: 1.2rem;
    font-family: p22-underground, sans-serif;
    height: 3.5rem;
}

/*  mobile
learning section */

@media only screen and (max-width: 700px) {
    .learning {
        background-color: white;
        border-bottom: 1px solid lightgray;
    }
    .course-cards {
        flex-direction: column;
        padding: 0;
    }
    .course-card img {
        display: none;
    }

    .course-card {
        margin: 0.5rem 1rem;
    }

    .course-card > * {
        background-color: #d8d8d8;
    }

    .course-text {
        padding: 1.5rem;
    }

    .course-text > p:nth-child(2) {
        display: none;
    }

    .course-text > p:last-child {
        display: none;
    }

    .course-text:hover {
        background-color: yellow;
        color: #0067dc;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
}

/* desktop
Thesis exhibit */

.thesis {
    padding: 2rem 0;
}
.thesis .container {
    background-color: white;
}

/* Mobile Thesis Section */
@media only screen and (max-width: 700px) {
    .thesis .sub-banner-text,
    .thesis .content-right {
        display: none;
    }
}

/* footer */

footer {
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 4rem;
    color: black;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    align-self: center;
}

.terms-and-policy {
    display: inline-flex;
    flex-direction: row;
}

.terms-and-policy > li:hover {
    background-color: yellow;
}

.terms-and-policy > * {
    margin-left: 1rem;
}

/* mobile 
footer section */

@media only screen and (max-width: 700px) {
    .copyright {
        margin: 0 auto;
    }
}
